html{
    font-size: 62.5%;
}

body {
    margin: 0;
    font-size: 1.6rem;
    font-family: 'Inter', sans-serif;
}

header {
    display: flex;
    justify-content: center;
}

h3{
    margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}

.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.first-part{
    text-align: center;
}

.input{
    justify-content: center;
    padding: 1rem;
}

.output{
    padding: 2rem;
    text-align:center;
}

.hide{
    display: none;
}

